<% content_for :content do %>
  <div class="container">
    <div class="row">
      <div class="col">
        &nbsp;
      </div>
      <div class="col-10">
        <div class="container mt-5">
          <h2>Welcome to the home page.</h2>
        </div>
      </div>
      <div class="col">
        &nbsp;
      </div>
    </div>
  </div>
<% end %>