/*
 *
 *  CloudLibrary
 *  Ruby on Rails Project
 *  (C) Alessio Saltarin 2021
 *  MIT License
 *
 */

.jumbotron {
    padding: 2rem 1rem;
    margin: 1rem 0 5rem 0;
    background-color: #F8E4DD;
    border-radius: .3rem;
    display: block;
}

.jumbotitle {
    font-weight: bold;
}


